<div class="row container-fluid d-flex justify-content-center" style="background-image: url('https://resortmcgroup.com/images/about-bg.png')">
  <div class="col-12">

    <div class="row card-facility">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row card-facility">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/carousel_1.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dịch Vụ Du Lịch Nhật Bản</h5>
            <p class="card-text">Tour du lịch Nhật Bản 5 ngày 4 đêm mùa xuân hoa anh đào khám phá Tokyo - Yamanashi - Núi Phú Sĩ cùng Vietnam Booking đem đến chuyến đi tốt nhất cho quý khách.</p>
            <a href="#" class="btn btn-primary">Booking</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


