<div class="container">
  <h2>Create Student</h2>
  <form [formGroup]="rfStudent" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Student Name</label>
      <input type="text" class="form-control" formControlName="name"
             [ngClass]="rfStudent.controls['name'].invalid?'is-invalid':'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfStudent.controls['name'].errors?.required && rfStudent.controls['name'].touched" #name>
          Please provide a student name.
        </div>

        <div *ngIf="rfStudent.controls['name'].errors?.minlength && rfStudent.controls['name'].touched">
          Please input student name min length >5.
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Point</label>
      <input type="text" class="form-control" formControlName="point">
      <div class="valid-feedback">
        Looks good!
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" class="form-control" formControlName="address">
    </div>

    <div formArrayName="address_option">
      <div class="mb-3" *ngFor="let item of address_option.controls; let i = index">
        <label class="form-label">Address Option {{i+1}}</label>
        <input [formControlName]="i" type="text" class="form-control">
      </div>

      <div class="text-right mt-3">
        <button class="btn btn-success" (click)="addAddressOption()">+</button>
        <button class="btn btn-success mx-3" (click)="deleteAddressOption()">-</button>
        <button class="btn btn-success mx-3" (click)="clearAllAddressOption()">Clear All</button>

      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="text" class="form-control" formControlName="password">
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input formControlName="confPassword" type="password" class="form-control"
             [ngClass]="rfStudent.errors?.reConfirmPassValidName ? 'is-invalid': 'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfStudent.errors?.reConfirmPassValidName">
          Password Don't Match Confirm Password!!!
        </div>
      </div>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!rfStudent.valid">Submit</button>
  </form>
</div>

