<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Facility</title>
</head>
<body>
<h3 style="font-weight: bold">Add New Facility</h3>
<div style="background-image: url('https://resortmcgroup.com/images/about-bg.png')">
  <p>
    <button class="back"
            style="width: 20%;font-size: 20px ;font-weight: bold;margin-left: 10px; text-decoration: none; text-align: center;background:#4CAF50">
      Back To Page Facility
    </button>
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="row" style="margin-bottom: 200px">
          <div class="col-12">
            <img src="assets\img\wc.jpg" style="width: 300px; height: 450px" >
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <img src="assets\img\la-eeb.png" style="width: 300px; height: 450px" >
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-center w-100">
          <form id="form" class="w-100">
            <div>
              <label>Facility Type</label>
              <select>
                <option>Villa</option>
                <option>House</option>
                <option>Room</option>
              </select>
            </div>
            <div>
              <input type="hidden"/>

              <div>
                <label>Name</label>
                <input type="text">
              </div>

              <div>
                <label>Area</label>
                <input type="text">
              </div>

              <div>
                <label>Cost</label>
                <input type="text">
              </div>

              <div>
                <label>Max People</label>
                <input type="text">
              </div>

              <div>
                <label>Rent Type</label>
                <select>
                  <option>Year</option>
                  <option>Month</option>
                  <option>Day</option>
                  <option>Hour</option>
                </select>
              </div>

              <div>
                <label>Standard Room</label>
                <input type="text">
              </div>

              <div>
                <label>Description Other Convenience</label>
                <input type="text">
              </div>

              <div>
                <label>Pool Area</label>
                <input type="text">
              </div>

              <div>
                <label>Number Of Floors</label>
                <input type="text">
              </div>

              <div>
                <label>Facility Free</label>
                <input type="text">
              </div>
              <div class="d-flex justify-content-center">
                <input type="submit" value="Add New Facility" style="font-weight: bold;font-size: 20px">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="row" style="margin-bottom: 200px">
          <div class="col-12">
            <img src="assets\img\la-eeb.png" style="width: 300px; height: 450px" >

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <img src="assets\img\wc.jpg" style="width: 300px; height: 450px" >
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>
