<h3 style="font-weight: bold">Contract List</h3>
<div>
  <form action="/contract">
    <span style="font-weight: bold;font-size: 20px; padding-left: 10px">Start Date: </span><input style="width: 20%; margin-left: 10px " type="date" name="startDate" placeholder="Start Date">
    <span style="font-weight: bold;font-size: 20px; padding: 0px 10px">End Date: </span><input style="width: 20%;margin-right: 20px" type="date" name="endDate" placeholder="End Date">
    <input type="submit" value="Search" style="width: 10%;font-weight: bold">
  </form>
</div>

<div class="back" style="width: 15%; text-align: center;background:#4CAF50;margin-left: 10px;margin-bottom: 20px">

  <a style="color:white;font-weight: bold;font-size: 18px;text-decoration: none" href="#" role="button"
     data-bs-toggle="dropdown" aria-expanded="false">
    Add New Contract
  </a>

</div>


<table id="customers" style="margin-bottom: 30px">
  <thead>
  <tr>
    <th>STT</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Facility</th>
    <th>Deposit</th>
    <th>Total Monney</th>
    <th colspan="2" style="text-align: center">Accompanying Services</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>2020-12-12</td>
    <td>2021-01-10</td>
    <td>Bùi Minh Tiến</td>
    <td>Đỗ Danh Sáng</td>
    <td>Villa Beach Front</td>
    <td>200000</td>
    <td>200000</td>
    <td style="text-align: center;"><a class="btn btn-primary">+</a></td>
    <td style="text-align: center;"><a class="btn btn-primary">Attach Facility List</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2020-12-12</td>
    <td>2021-01-10</td>
    <td>Bùi Minh Tiến</td>
    <td>Đỗ Danh Sáng</td>
    <td>Villa Beach Front</td>
    <td>200000</td>
    <td>200000</td>
    <td style="text-align: center;"><a class="btn btn-primary">+</a></td>
    <td style="text-align: center;"><a class="btn btn-primary">Attach Facility List</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2020-12-12</td>
    <td>2021-01-10</td>
    <td>Bùi Minh Tiến</td>
    <td>Đỗ Danh Sáng</td>
    <td>Villa Beach Front</td>
    <td>200000</td>
    <td>200000</td>
    <td style="text-align: center;"><a class="btn btn-primary">+</a></td>
    <td style="text-align: center;"><a class="btn btn-primary">Attach Facility List</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2020-12-12</td>
    <td>2021-01-10</td>
    <td>Bùi Minh Tiến</td>
    <td>Đỗ Danh Sáng</td>
    <td>Villa Beach Front</td>
    <td>200000</td>
    <td>200000</td>
    <td style="text-align: center;"><a class="btn btn-primary">+</a></td>
    <td style="text-align: center;"><a class="btn btn-primary">Attach Facility List</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2020-12-12</td>
    <td>2021-01-10</td>
    <td>Bùi Minh Tiến</td>
    <td>Đỗ Danh Sáng</td>
    <td>Villa Beach Front</td>
    <td>200000</td>
    <td>200000</td>
    <td style="text-align: center;"><a class="btn btn-primary">+</a></td>
    <td style="text-align: center;"><a class="btn btn-primary">Attach Facility List</a></td>
  </tr>
  </tbody>
</table>

