<div>
  <div>
    <div class="row" style="margin: 0px 0px">
      <div class="col-lg-12 bg-black"
           style="height: 100px;line-height: 100px; color: white; line-height: 60px; font-size: 14px">
        <div style="text-align: center">
          <div class="d-flex justify-content-between">
            <span style="height:100px; line-height: 100px;color: pink">* Some software, accessories, and devices sold separately.</span>
            <img src="assets/img/banner-logo-down.png"
                 style="height:50px; line-height: 50px;margin-top: 25px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
