<div class="container">
  <h2>Register Form</h2>
  <form [formGroup]="rfRegister" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email"
             [ngClass]="rfRegister.controls['email'].invalid?'is-invalid':'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['email'].errors?.required && rfRegister.controls['email'].touched">
          Please provide a email.
        </div>

        <div *ngIf="rfRegister.controls['email'].errors?.email && rfRegister.controls['email'].touched">
          Email must be in the correct format
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>


    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password"
             [ngClass]="rfRegister.controls['password'].invalid?'is-invalid':'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['password'].errors?.required && rfRegister.controls['password'].touched">
          Please provide a password.
        </div>

        <div *ngIf="rfRegister.controls['password'].errors?.minlength && rfRegister.controls['password'].touched">
          Please input Password min length >5.
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input formControlName="confPassword" type="password" class="form-control"
             [ngClass]="rfRegister.errors?.reConfirmPassValidName ? 'is-invalid': 'is-valid'">

      <div class="invalid-feedback">
        <div *ngIf="rfRegister.errors?.reConfirmPassValidName">
          Password Don't Match Confirm Password!!!
        </div>
      </div>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="mb-3">
      <label style="margin-right: 10px" class="form-label">Country</label>
      <select formControlName="country" [ngClass]="rfRegister.controls['country'].invalid?'is-invalid':'is-valid'">
        <option value="" selected>-- Choose --</option>
        <option type="text" value="0">Hà Nội</option>
        <option type="text" value="1">Huế</option>
        <option type="text" value="2">Đà Nẵng</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['country'].errors?.required && rfRegister.controls['country'].touched">
          Please provide a country.
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>


    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="text" class="form-control" formControlName="age"
             [ngClass]="rfRegister.controls['age'].invalid?'is-invalid':'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['age'].errors?.required && rfRegister.controls['age'].touched">
          Please provide a age.
        </div>

        <div *ngIf="rfRegister.controls['age'].errors?.pattern && rfRegister.controls['age'].touched">
          Age must be in the correct format (Age >18)
        </div>
      </div>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <!--        <div class="mb-3">-->
    <!--          <label class="form-label">Gender</label>-->
    <!--          <div>-->
    <!--            <input type="radio" name="gender" [value]="0" formControlName="gender">Male-->
    <!--            <input type="radio" name="gender" [value]="1" formControlName="gender">Female-->
    <!--            <input type="radio" name="gender" [value]="2" formControlName="gender">LGBT-->
    <!--          </div>-->
    <!--        </div>-->

    <div class="mb-3">
      <label class="form-label">Gender</label>
      <input formControlName="gender" [value]="0" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Male
      <input formControlName="gender" [value]="1" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Female
      <input formControlName="gender" [value]="2" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">LBGT
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['gender'].errors?.required">
          Please provide a gender
        </div>
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Phone</label>
      <input type="text" class="form-control" formControlName="phone"
             [ngClass]="rfRegister.controls['phone'].invalid?'is-invalid':'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['phone'].errors?.required && rfRegister.controls['phone'].touched">
          Please provide a phone.
        </div>

        <div *ngIf="rfRegister.controls['phone'].errors?.pattern && rfRegister.controls['phone'].touched">
          Phone must be in the correct format
        </div>
      </div>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!rfRegister.valid">Submit</button>
  </form>
</div>

