#navbarSupportedContent ul li a {
  color: white;
  font-weight: bold;
}

#navbarSupportedContent ul ul li:hover {
  background: #264e69;
}

#navbarSupportedContent ul ul {
  background: #264e69;
}

#navbarSupportedContent ul li a:hover {
  background: #aec6c7;
  color: #4a4a4a;
}
