<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Facility</title>
    <link href="../../utils/css/view.css" rel="stylesheet">
    <link href="../../utils/css/home.css" rel="stylesheet">
    <link href="../../utils/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../utils/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div style="margin-top: 0px">
        <div class="bg">
            <nav class="navbar navbar-light bg-black">
                <div class="container-fluid d-flex justify-content-center">
                    <img src="../../utils/img/banner-logo-down.png" style="height:100px; line-height: 100px;color: white">
                </div>
            </nav>
        </div>
    </div>
    <div style="margin-top: 0px; margin-bottom: 0px">
        <div class="">
            <nav class="navbar navbar-expand-lg bg-black" style="border-top: white 5px solid">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home" style="color: pink"><strong>FURUMA</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Employee
                                </a>
                                <ul class="dropdown-menu bg-black">
                                    <li><a class="dropdown-item" href="/employee">Employee Management</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/employee?action=create">Add New Employee</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Customer
                                </a>
                                <ul class="dropdown-menu bg-black">
                                    <li><a class="dropdown-item" href="/customer">Customer Management</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/customer/create">Create New Customer</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Facility
                                </a>
                                <ul class="dropdown-menu bg-black">
                                    <li><a class="dropdown-item" href="/facility">Facility Management</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/facility/villa/create">Create New Villa</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/facility/house/create">Create New House</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/facility/room/create">Create New Room</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Contract
                                </a>
                                <ul class="dropdown-menu bg-black">
                                    <li><a class="dropdown-item" href="/contract">Contract Management</a></li>
                                    <li>
                                        <hr class="dropdown-divider bg-light">
                                    </li>
                                    <li><a class="dropdown-item" href="/contract/using">List Customers Are Using The
                                        Service</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <strong style="color: white; font-family: 'Lucida Sans'; font-size: 20px; margin-right: 0px;color: pink">Bùi
                        Minh
                        Tiến</strong>
                </div>
            </nav>
        </div>
    </div>
    <h3 style="font-weight: bold">Create Facility</h3>
    <div style="background-image: url('https://resortmcgroup.com/images/about-bg.png')">
        <p>
            <button class="back"
                    style="width: 20%; font-size: 20px ; font-weight: bold; text-decoration: none; text-align: center;background:#4CAF50">
                Back To Page Facility
            </button>
        </p>

    <div id="form" class="d-flex justify-content-center">
        <form>
            <div>
                <label>Facility Type</label>
                <select>
                    <option>Villa</option>
                    <option>House</option>
                    <option>Room</option>
                </select>
            </div>
            <div>
                <input type="hidden"/>

                <div>
                    <label>Name</label>
                    <input type="text">
                </div>

                <div>
                    <label>Area</label>
                    <input type="text">
                </div>

                <div>
                    <label>Cost</label>
                    <input type="text">
                </div>

                <div>
                    <label>Max People</label>
                    <input type="text">
                </div>

                <div>
                    <label>Rent Type</label>
                    <select>
                        <option>Year</option>
                        <option>Month</option>
                        <option>Day</option>
                        <option>Hour</option>
                    </select>
                </div>

                <div>
                    <label>Standard Room</label>
                    <input type="text">
                </div>

                <div>
                    <label>Description Other Convenience</label>
                    <input type="text">
                </div>

                <div>
                    <label>Pool Area</label>
                    <input type="text">
                </div>

                <div>
                    <label>Number Of Floors</label>
                    <input type="text">
                </div>

                <div>
                    <label>Facility Free</label>
                    <input type="text">
                </div>
                <input type="submit" value="Add New Facility" style="font-weight: bold;font-size: 20px">
            </div>
        </form>
    </div>
    </div>
    <div style="border-top: white 30px solid">
        <div>
            <div class="row" style="margin: 0px 0px">
                <div class="col-lg-12 bg-black"
                     style="height: 100px;line-height: 100px; color: white; line-height: 60px; font-size: 14px">
                    <div style="text-align: center">
                        <div class="d-flex justify-content-between">
                            <span style="height:100px; line-height: 100px;color: pink">* Some software, accessories, and devices sold separately.</span>
                            <img src="../../utils/img/banner-logo-down.png"
                                 style="height:50px; line-height: 50px;margin-top: 25px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../../utils/bootstrap/js/bootstrap.js"></script>
<script src="../../utils/bootstrap/js/bootstrap.min.js"></script>
<script src="../../utils/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>