<div style="margin-top: 0px; margin-bottom: 0px">
  <div class="">
    <nav class="navbar navbar-expand-lg" style="background:#264e69">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="color: #aec6c7"><strong>FURUMA</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Employee
              </a>
              <ul class="dropdown-menu bg-black">
                <li><a class="dropdown-item" href="/employee">Employee Management</a></li>
                <li>
                  <hr class="dropdown-divider bg-light">
                </li>
                <li><a class="dropdown-item" href="/employee?action=create">Add New Employee</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Customer
              </a>
              <ul class="dropdown-menu bg-black">
                <li><a class="dropdown-item" href="/customer">Customer Management</a></li>
                <li>
                  <hr class="dropdown-divider bg-light">
                </li>
                <li><a class="dropdown-item" href="/customer/create">Create New Customer</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Facility
              </a>
              <ul class="dropdown-menu bg-black">
                <li><a class="dropdown-item" href="/facility">Facility Management</a></li>
                <li>
                  <hr class="dropdown-divider bg-light">
                </li>
                <li>
                  <a class="dropdown-item" href="/facility/create">Create New Facility</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Contract
              </a>
              <ul class="dropdown-menu bg-black">
                <li><a class="dropdown-item" href="/contract">Contract Management</a></li>
                <li>
                  <hr class="dropdown-divider bg-light">
                </li>
                <li><a class="dropdown-item" href="/contract/using">List Customers Are Using The
                  Service</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <strong style="color: white; font-family: 'Lucida Sans'; font-size: 20px; margin-right: 0px;color: #aec6c7">Bùi
          Minh
          Tiến</strong>
      </div>
    </nav>
  </div>
</div>

