<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Student</title>
</head>
<body>
<section class="wrapper">
  <div class="top">Student</div>
  <div class="bottom" aria-hidden="true">Student</div>
</section>
<div style="background-image: url('https://resortmcgroup.com/images/about-bg.png');margin-top: 50px">
  <div>
    <button class="back" routerLink=""
            style="width: 20%;font-size: 20px ;font-weight: bold;margin-left: 25px; text-decoration: none; text-align: center">
      Back To Page Student
    </button>
  </div>
  <div class="container-fluid" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img src="assets\img\wc.jpg" style="width: 250px; height: 450px">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-center w-100">
          <form *ngIf="rfStudent" [formGroup]="rfStudent" (ngSubmit)="onSubmit()" id="form" class="w-100">

            <div>
              <div>
                <label>Name</label>
                <input formControlName="name" type="text"
                       [ngClass]="rfStudent.errors?.nameUnique || rfStudent.controls['name'].invalid?'is-invalid':'is-valid'">

                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['name'].errors?.required && rfStudent.controls['name'].touched">
                    Please provide a name.
                  </div>
                  <div *ngIf="rfStudent.controls['name'].errors?.pattern && rfStudent.controls['name'].touched">
                    Name must be in the correct format
                  </div>
                  <div *ngIf="rfStudent.errors?.nameUnique">
                    Names cannot be duplicated
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div>
                <label style="margin: 10px 20px 10px 0px">Gender</label>
                <input formControlName="gender" [value]="0" type="radio"
                       [ngClass]="rfStudent.controls['gender'].invalid?'is-invalid':'is-valid'">Male
                <input formControlName="gender" [value]="1" type="radio"
                       [ngClass]="rfStudent.controls['gender'].invalid?'is-invalid':'is-valid'">Female
                <input formControlName="gender" [value]="2" type="radio"
                       [ngClass]="rfStudent.controls['gender'].invalid?'is-invalid':'is-valid'">LBGT

                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['gender'].errors?.required">
                    Please provide a gender
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div>
                <label>Point</label>
                <input formControlName="point" type="text"
                       [ngClass]="rfStudent.controls['point'].invalid?'is-invalid':'is-valid'">

                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['point'].errors?.required && rfStudent.controls['point'].touched">
                    Please provide a Point.
                  </div>
                  <div *ngIf="rfStudent.controls['point'].errors?.pattern && rfStudent.controls['point'].touched">
                    Point must be in the correct format
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div>
                <label>Address</label>
                <input formControlName="address" type="text"
                       [ngClass]="rfStudent.controls['address'].invalid?'is-invalid':'is-valid'">

                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['address'].errors?.required && rfStudent.controls['address'].touched">
                    Please provide a address.
                  </div>
                  <div *ngIf="rfStudent.controls['address'].errors?.pattern && rfStudent.controls['address'].touched">
                    Address must be in the correct format
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>


              <div formArrayName="addressOption">
                <div class="mb-3" *ngFor="let item of addressOption.controls; let i = index">
                  <label class="form-label">Address Option {{i + 1}}</label>
                  <!--                  [ngClass]="rfStudent.controls['address'].invalid?'is-invalid':'is-valid'">-->
                  <input [formControlName]="i" type="text" class="form-control"
                         [ngClass]="rfStudent.controls['addressOption'].value.invalid?'is-invalid':'is-valid'">

                  <div class="invalid-feedback">
                    <div *ngIf="rfStudent.controls['addressOption'][i]?.errors?.required && rfStudent.controls['addressOption'][i].touched">
                      Please provide a address.
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="text-right mt-3">
                  <button type="button" class="btn btn-success" (click)="addAddressOption()">+</button>
                  <button type="button" class="btn btn-success mx-3" (click)="deleteAddressOption()">-</button>
                  <button type="button" class="btn btn-success mx-3" (click)="clearAllAddressOption()">Clear All
                  </button>
                </div>

              </div>

              <div>
                <label>Date Of Birth</label>
                <input type="date" formControlName="dateOfBirth"
                       [ngClass]="rfStudent.errors?.checkAgeStudent || rfStudent.controls['dateOfBirth'].invalid ? 'is-invalid': 'is-valid'">
                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['dateOfBirth'].errors?.required">
                    Please provide a Date Of Birth
                  </div>
                  <div *ngIf="rfStudent.errors?.checkAgeStudent">
                    Date Of Birth must be in the correct format (age < 18 || age > 100)
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div>
                <label>Class</label>
                <select formControlName="class" [ngClass]="rfStudent.controls['class'].invalid?'is-invalid':'is-valid'">
                  <option selected [value]="''">-- Choose --</option>
                  <option *ngFor="let item of classList" [ngValue]="item">{{item.name}}</option>
                </select>

                <div class="invalid-feedback">
                  <div *ngIf="rfStudent.controls['class'].errors?.required">
                    Please provide a Class
                  </div>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>

              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" style="font-weight: bold;font-size: 20px">Add New
                  Student
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img src="assets\img\la-eeb.png" style="width: 250px; height: 450px">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>
